<a href="https://colab.research.google.com/github/54Jyun/Introduction-to-Computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

hi

In [15]:
i = range(5)

In [16]:
print(type(i))

<class 'range'>

In [17]:
print(i)

range(0, 5)

In [11]:
print(list(i))

[10, 8, 6, 4, 2]

In [12]:
j = range(10)

In [13]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [14]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [10]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [9]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [8]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [7]:
f = range(9)
print(list(f))
g = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))
i = range(10,1,-2)
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [6]:
for n in range(10):
  print(n, end = ",")

0,1,2,3,4,5,6,7,8,9,

In [5]:
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
  print(m, end = " ")

請輸入一個正整數:10
1 2 3 4 5 6 7 8 9 10

In [4]:
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
  print(m, end = " ")

請輸入一個正整數:12
1 2 3 4 5 6 7 8 9 10 11 12

In [3]:
sum = 0
for n in range(5):
  sum =sum+n
print(sum)

10

In [2]:
for n in range(3):
  print(n, end=",")

0,1,2,

In [25]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(test+1):
  sum =sum+n
print("1到",n,"的整數和為",sum)

請輸入一個正整數:10
1到 10 的整數和為 55

In [26]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(test+1):
  sum =sum+n
print("1到",n,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [38]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1,test+1):
  sum =sum+n
  print("1到",n,"的整數和為",sum)

請輸入一個正整數:10
1到 1 的整數和為 1
1到 2 的整數和為 3
1到 3 的整數和為 6
1到 4 的整數和為 10
1到 5 的整數和為 15
1到 6 的整數和為 21
1到 7 的整數和為 28
1到 8 的整數和為 36
1到 9 的整數和為 45
1到 10 的整數和為 55